.featureWrapper {
  width: 75%;
  min-height: 420px;
  background-color: #FFFFFF;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.heroImagelink{
  width: 80%;
}

.heroImage{
  width: 100%;
}

.titleWrapper {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  width:400px;
}

.blackSpeachbubble{
  width: 59px;
  margin-right: 13px;
  margin-top: 10px;
}

.contentWrapper {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.content {
  width: 565px;
  padding-left: 20px;
}

.episodeLink{
  text-decoration: none;
  color: #000000;
  font-size: large;
}

.episodeLink:hover{
  color: #5cdb95;
}

@media (max-width: 1024px){
.heroImage{
  width: 80%;
  margin: 0 auto;
}
.contentWrapper{
  display: inline;
}
.content{
  padding-bottom: 20px;
  width: 450px;
  margin: 0 auto;
}
}

@media (max-width: 425px){
  .titleWrapper{
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .title{
    font-size: medium;
  }
  .blackSpeachbubble{
    margin-top: 0;
    margin-right: 0;
  }

  .content{
    width: 290px;
    padding-left: 5px;
  }
}

@media (max-width: 375px){
  .titleWrapper{
    grid-template-columns: 25% 1fr;
    margin-left: 5%;
  }
  .content {
    width: 225px;
  }
}