/* .outerContainer{
  width: 100vw;
} */

.titleWrapper {
  display: flex;
  padding-top: 10px;
  width:25%;
  margin: 0 auto;
  color: #FFFFFF;
}

.whiteSpeachbubble{
  width: 59px;
  height: 53px;
  margin-right: 13px;
  margin-top: 10px;
}

@media (max-width: 1024px){
  .titleWrapper{
    width: 35%;
  }
}

@media (max-width: 768px){
  .titleWrapper{
    width: 50%;
  }
}

@media (max-width: 425px){
  .titleWrapper{
    width: 90%;
  }
}

@media (max-width: 320px){
  .titleWrapper{
    margin-left: 10px;
  }
}