.episodePage {
  color: #FFFFFF;
}

.video {
  max-width: 1088px;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 25px;
}

.episodeContent {
  width: 725px;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (max-width: 1024px){
  .video{
    margin-left: 20%;
  }
}

@media (max-width: 834px){
  .video{
    margin-left: 13%;
  }
  .episodeContent{
    width: 550px;
  }
}

@media (max-width: 768px){
  .video{
    margin-left: 10%;
  }
}

@media (max-width: 600px){
  .video{
    max-width: 575px;
    margin-left: 0;
  }
}

@media (max-width: 425px){
  .video{
    height: 215px;
    width: 352px;
    margin-left: 8%;
  }

  .episodeContent{
    width: 390px;
  }
}

@media (max-width: 375px){
  .video{
    margin-left: 3%;
  }

  .episodeContent{
    width: 350px;
  }
}

@media (max-width: 320px){
  .video{
    margin-left: 0;
    height: 185px;
    width: 322px;
  }

  .episodeContent{
    width: 310px;
  }
}